/* GENERAL --------------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
html{
    width: 100%;
}
body{
    font-family: Arial,sans-serif;
    font-size: 15px;
    position: relative;
    overflow-x: hidden;
    background-color: #E6E6E6;
}
#content{ /* TOUT LE CONTENU DU SITE */
  

}

@font-face {
	font-family: "Antic";
	src: url('../fonts/Antic-Regular.ttf');
}
@font-face {
	font-family: "julius sans one";
	src: url('../fonts/JuliusSansOne-Regular.ttf');
}
.section{ /* DIV PRINCIPALE DU LOADING SCREEN */
    position: relative;
    background-color: #424242;
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
    text-align:center;
}
.wrapper{ /* conteneur permettant de centrer les elements */
    width: 1200px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
h1{
    padding-top: 12px;
    font-family: 'julius sans one', sans-serif;
    font-size: 45px;
    color: white;
}
h4{
    color: #444;
    font-size: 18px;
}
h2{
    padding-top: 22px;
    font-family: 'Antic', sans-serif;
    font-size: 30px;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* ITEMS DU SITE */

.item { /* element du carousel */
    position: relative;
    width: 200px;
    height: 120px;
    display: inline-block;
    margin-top: 20px;
    vertical-align: middle;
    overflow: hidden;
}

.item  h4{
    padding-top: 77px;
    text-align: center;
    margin-top: 11px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'julius sans one' ,'sans-serif';
}

/* HEADER --------------------------------------------- */

header{ /* BARRE BLANCHE DE DEBUT */
    height : 70px;
    background-color: #424242;
}
.MainTitle{  /* titre principale du site (en haut a gauche) */
  text-align: center;
}
#menu{ /* icone en haut a droite (3 petites barres) */
    float:right;
    padding-top: 11px;
}
.per{ /* texte en dessous des gros titres et avec une barre en dessous */

    padding-bottom: 20px;
    width: 1200px;
    font-size: 17px;
}
p{
    line-height: 20px;
    color: #777;
}
/* SIDEBAR --------------------------------------------- */

.sidebar{ /* barre laterale droite qui apparait au click */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    background-color: #424242;
    z-index: 100;
    display:none;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar h2{ /* texte dans la barre laterale */
    font-family: 'Antic', sans-serif;
    color: white;
    margin: 15px;
    text-align:center;
}
.sidebar p{ /* texte dans la barre laterale */
    color: white;
    margin: 15px;
    font-size: 16px;
    text-align: center;
}
#mongei{
    margin: 0 auto;
    display: block;
}
.has-sidebar .sidebar{

}
#retour{ /* bouton retour dans la sidebar */
    display : block;
    margin: 10px auto;
    cursor:  pointer;
    width: 50px;
}
/* banniere --------------------------------------------- */
#banner{
    background-color: #E6E6E6;
}

/* PREMIERE --------------------------------------------- */
#premiere{
    text-align: center;
    padding: 20px;
    background-color: #F2F2F2;
}

/* DEUXIEME --------------------------------------------- */

#deuxieme{

    text-align: center;
    padding: 20px;
    background-color: #E6E6E6;
}


/* troisieme --------------------------------------------- */

#troisieme{

    padding: 20px;
    text-align: center;
    background-color: #F2F2F2;

}



/* RESPONSIVE */
/* < 1097PX --------------------------------------------- */

@media screen and (max-width: 1290px) {
    .item{
        width: 170px;
    }
    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENT*/
        width: 900px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        width: 900px;
    }
    .item  h4{
        padding-top: 62px;
    }
}

/* < 915PX --------------------------------------------- */

@media screen and (max-width: 990px) {

    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENT*/
        width: 600px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        border: none;
        padding-bottom: 20px;
        width: 600px;
    }
    p{
        font-size: 13px;
    }
    .sidebar h2{ /* texte dans la barre laterale */
        margin: 15px;

    }
    .sidebar p{ /* texte dans la barre laterale */

        margin: 15px;
        font-size: 11px;
    }
    .item  h4{
        padding-top: 77px;

    }
    .item{
        width: 200px;
    }
}

/* < 625PX --------------------------------------------- */

@media screen and (max-width: 665px) {
    .section{
        font-size: 15px;
    }

    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENT*/
        width: 480px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        border: none;
        padding-bottom: 20px;
        width: 410px;
    }
    p{
        font-size: 13px;
    }
}

/* < 500PX --------------------------------------------- */

@media screen and (max-width: 570px) {

    .item { /* element du carousel */
        width: 150px;
    }
    .item h4{ /* element du carousel */
        padding-top: 55px;
        font-size: 20px;
    }
    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENTS*/
        width: 320px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        padding-bottom: 10px;
        width: 200px;
    }
    .p1, .p2{
        float: none;
    }
    p{
        font-size: 13px;
    }
    .overlay p{
        display:block;
    }
    #mongei{
        display:none;
    }
}