/* GENERAL --------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", sans-serif;
    user-select: none;
}
html{
    height: 100%;
    width: 100%;
    
    overflow-x: hidden;
}

/* ITEMS DU SITE */

.item {
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px;
}

.nomitem{    
    text-align: center;
    color: white;
    font-size: 25px;
    position: absolute;
    bottom: 39px;
    height: 35px;
    width: 100%;
    background-color: #424242;
    overflow: hidden;
    padding-top: 6px;

}

header{ /* BARRE BLANCHE DE DEBUT */
    height : 70px;
    background-color: #424242;
}
header a {
    text-decoration: none;
}
.MainTitle{  /* titre principale du site (en haut a gauche) */
  text-align: center;
  font-size: 35px;
  color: white;

}


/* LIGNE --------------------------------------------- */
.ligne{
    text-align: center;
    padding: 10px;
}

.ligne:nth-child(odd) { /*MET LA PREMIERE LIGNE D'UNE COULEUR*/
    background-color: #F2F2F2;
}

.ligne:nth-child(even) { /*MET LA DEUXIEME LIGNE D'UNE AUTRE COULEUR */
    background-color: #E6E6E6;
}

.nomligne{
    background-color: #424242;
    color: white;
    width: fit-content;
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
}

.button1{
    padding: 7px 30px;
    background-color: #777;
    color:white;
    border:0px;
    border-radius:15px;
}


.container-ligne {
    display: flex;
    flex-direction: column; 
}
.container-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}




/* BUTTONS modify delete */
.BtnModifyDeleteItem {
    width: 48px;height: 48px;
    position: relative;
    top:35px;
    padding: 5px;

    background: none;
    border: none;
}
.BtnModifyDeleteItem:focus {outline: none;}

.BtnModifyDeleteItem img {width: 100%;height: 100%;}

.modify{
    background-color: #424242;
    height: 450px;
    width: 60%;
    
    position: absolute;
    left: 20%;
    top:20%;
    
    border: black solid 5px;
    border-radius: 10px;
    color: white;
    z-index: 998;
}


/*PAGE CONNEXION*/
.connexion {
    text-align: center;
    background-color: #424242;
    height: 200px;
    width: 30%;
    
    position: absolute;
    left: 50%;
    top:-20%;
    
    z-index: 999;

    transform: translate(-50%,-50%);

    border: black solid 5px;
    border-radius: 10px;
    color: white;
    transition: top 0.75s linear;
}

.connexion.open {
    top: 50%;
}

.BtnConnect{
    position: absolute;
    right: 0%;
    top:20px; 

    text-align: center;
    color: #424242;
    height: 20px;
    width: fit-content;
    
    border:black solid 1px;
    background-color: white;
    border-radius: 5px;
}


/* btn "+ item" et "+ligne" */
.BtnNewItem {
    text-align: center;
    color: #424242;
    height: 55px;
    width: 55px;
    
    border:black solid 1px;
    background-color: white;
    border-radius: 5px;
}
.BtnNewLigne {
    text-align: center;
    color: #424242;
    height: 55px;
    width: 55px;
    
    border:black solid 1px;
    background-color: white;
    border-radius: 5px;
}
.divBtnNewItemLigne {
    position: absolute;
    left: 5%;
    top: 8px; 
}

.NewItem {
    background-color: #424242;
    height: 400px;
    width: 60%;
    
    position: absolute;
    left: 20%;
    top:20%;
    
    border: black solid 5px;
    border-radius: 10px;
    color: white;
    z-index: 998;
}



.NewLigne{
    background-color: #424242;
    height: 400px;
    width: 60%;
    
    position: absolute;
    left: 20%;
    top:20%;
    
    border: black solid 5px;
    border-radius: 10px;
    color: white;
    z-index: 998;
}

/* btn ligne */
.BtnModifyDeleteLigne button {
    width: 48px;height: 48px;

    padding: 5px;

    background: none;
    border: none;
    

}
.BtnModifyDeleteLigne button:focus {outline: none;}

.BtnModifyDeleteLigne img {width: 100%;height: 100%;}

.BtnModifyDeleteLigne{
    position: absolute;
    left: 150px;
}

 
/* page modify ligne */

.modifyLigne{
    background-color: #424242;
    height: 400px;
    width: 60%;
    
    position: absolute;
    left: 20%;
    top:20%;
    
    border: black solid 5px;
    border-radius: 10px;
    color: white;
    z-index: 998;
}







