/* GENERAL --------------------------------------------- */
*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
html{
    width: 100%;
}
body{
    font-family: Arial,sans-serif;
    font-size: 15px;
    position: relative;
    overflow-x: hidden;
    background-color: #F2F2F2;
}
.wrapper{ /* conteneur permettant de centrer les elements */
    width: 1200px;
    margin: 0 auto;

}
.clear{
    clear: both;
}
h1{
    padding-top: 11px;
    font-family: 'Antic', sans-serif;
    font-size: 45px;
    color: white;
}
h4{
    color: #444;
    font-size: 18px;

}
h2{
    padding-top: 22px;
    font-family: 'Antic', sans-serif;
    font-size: 45px;


}
.overlay{ /* truc blanc transparent derriere le titre de chaque element */
    background: rgba(255,255,255, 0.90);
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 5px 0 5px;
    margin-top: 40px;
}
.overlay p{ /* petit texte dans chaque element (le jquery le fait apparaitre au passage de la souris) */
    display: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* CAROUSELS DU SITE */

.item { /* element du carousel */
    position: relative;
    width: 200px;
    height: 120px;
    display: inline-block;
    margin-top: 10px;
    vertical-align: middle;
    overflow: hidden;

}

.item:hover{ /* QUAND L'UTILISATEUR PASSE LA SOURIS SUR LES ELEMENTS  */


}
.item  h4{
    padding-top: 75px;
    text-align: center;
    margin-top: 11px;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Antic;
}
.item p{
    text-align: center;
    font-size: 12px;


}
/* HEADER --------------------------------------------- */

header{ /* BARRE BLANCHE DE DEBUT */
    height : 70px;
    background-color: #141414;
}
.MainTitle{  /* titre principale du site (en haut a gauche) */
    float: left;

}
#menu{ /* icone en haut a droite (3 petites barres) */
    float:right;
    padding-top: 11px;
}
.per{ /* texte en dessous des gros titres et avec une barre en dessous */
    border-bottom: 1px solid #BDBDBD ;
    padding-bottom: 20px;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
p{
    line-height: 20px;
    color: #777;
}
/* SIDEBAR --------------------------------------------- */
.sidebar{ /* barre laterale droite qui apparait au click */
    position: fixed;
    top: 0;
    right:-300px;
    bottom: 0;
    min-height: 100%;
    width: 300px;
    background-color: rgba(20, 20, 20, 1);
    transition: transform 0.3s;
    transform: translateX(300px);
    z-index: 100;
    display:none;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar h2{ /* texte dans la barre laterale */
    font-family: 'Antic', sans-serif;
    color: white;
    margin: 15px;
    text-align:center;
}
.sidebar p{ /* texte dans la barre laterale */
    color: white;
    margin: 15px;
    font-size: 13px;
}
.sidebar img{
    margin: 25px;
}
.has-sidebar .sidebar{
    transform: translateX(-300px);
}
#retour p{ /* bouton retour dans la sidebar */
    border: 1px solid;
    border-radius: 4px;
    width: 70px;
    text-align: center;
    margin: 0 auto;
    cursor:  pointer;

}
#retour p:hover{
    border-color: grey;
    color: grey;
}
/* PREMIERE --------------------------------------------- */
#premiere{
    text-align: center;
    padding-bottom: 20px;
}
#ent{ /* PREMEIRE ELEMENT (ENT) */
    background: url('../doc/img/cate/ent.png') no-repeat top center;
    background-size: 100%;
}
#pronote{ /* DEUXIEME ELEMENT (PRONOTE) */
    background: url('../doc/img/cate/pro.png') no-repeat top center;
    background-size: 100%;
}
#cnam{
    background: url('../doc/img/cate/cnam.png') no-repeat top center;
    background-size: 100%;
}
#ovh{
    background: url('../doc/img/cate/ovh.png') no-repeat top center;
    background-size: 100%;
}

/* DEUXIEME --------------------------------------------- */

#deuxieme{

    text-align: center;
    padding-bottom: 20px;
}
#mood{
    background: url('../doc/img/cate/mood.png') no-repeat top center;
    background-size: 100%;
}
#git{
    background: url('../doc/img/cate/git.png') no-repeat top center;
    background-size: 100%;
}
#slam{
    background: url('../doc/img/cate/slam.png') no-repeat top center;
    background-size: 100%;
}
#node{
    background: url('../doc/img/cate/node.png') no-repeat top center;
    background-size: 100%;
}
#roule{
    background: url('../doc/img/cate/roule.png') no-repeat top center;
    background-size: 100%;
}

/* troisieme --------------------------------------------- */

#troisieme{

    padding-bottom: 20px;
        text-align: center;
}
#glpi{
    background: url('../doc/img/cate/glpi.png') no-repeat top center;
    background-size: 100%;
}
#aff{
    background: url('../doc/img/cate/aff.png') no-repeat top center;
    background-size: 100%;
}
#sig{
    background: url('../doc/img/cate/sig.png') no-repeat top center;
    background-size: 100%;
}


/* FOOTER */

footer{
    height: 15%;
    background-color: #444;
}
footer h1{
    color: #fff;
    text-align: center;
    padding-top: 30px;
}
.p1
{
    float: left;
    color: #777;
}
.p2
{
    float: right;
    color: #777;
}
/* RESPONSIVE */
/* < 1097PX --------------------------------------------- */

@media screen and (max-width: 1270px) {

    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENT*/
        width: 900px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        border-bottom: 1px solid #BDBDBD ;
        padding-bottom: 20px;
        width: 900px;
    }
}

/* < 915PX --------------------------------------------- */

@media screen and (max-width: 915px) {
    h1{
        font-size: 30px;
    }
    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENT*/
        width: 600px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        border-bottom: 1px solid #BDBDBD ;
        padding-bottom: 20px;
        width: 600px;
    }
    p{
        font-size: 13px;
    }
    .sidebar h2{ /* texte dans la barre laterale */
        margin: 15px;

    }
    .sidebar p{ /* texte dans la barre laterale */
        color: black;
        margin: 15px;
        font-size: 11px;
    }
}

/* < 625PX --------------------------------------------- */

@media screen and (max-width: 625px) {

    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENT*/
        width: 480px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        border-bottom: 1px solid #BDBDBD ;
        padding-bottom: 20px;
        width: 410px;
    }
    p{
        font-size: 13px;
    }
}

/* < 500PX --------------------------------------------- */

@media screen and (max-width: 500px) {

    .wrapper{ /* CONTENEUR PERMETTANT DE CENTRER LES ELEMENTS*/
        width: 320px;
    }
    .per{ /* TEXTE EN DESSOUS DES GROS TITRE ET AVEC UNE BARRE */
        border-bottom: 1px solid #BDBDBD ;
        padding-bottom: 10px;
        width: 200px;
    }
    .p1, .p2{
        float: none;
    }
    p{
        font-size: 13px;
    }
    .overlay p{
        display:block;
    }
    #mongei{
        display:none;
    }
}